<div class="login-card">
  <div class="card-title">
    <h1>Login</h1>
  </div>
  <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input name="email" type="email" formControlName="email" placeholder="Email">
    <input type="password" formControlName="password" placeholder="Password">
    <button>Submit</button>
  </form>
  <div class="padingtop10" >
    <button (click)="imLogged(true)">I'm logged??</button>
    <div>logged: {{ logged }}</div>
    <div>clickedLogged: {{ clickedLogged }}</div>
  </div>
  @if (showErrorMessage) {
  <div class="error">
    {{ errorMessage }}
  </div>
  }
</div>
