@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #5e7e66;
  --primary-dark: #2c4c3b;
  --primary-hover: #3a6249;
  --secondary: #f8e16c;
  --secondary-dark: #f5d742;
  --secondary-ligth: #edda78;
  --background: #c4c6cf;
  --white: #fff;
  --warning: #f56a6a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: var(--background);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed !important;
}


