@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #5e7e66;
  --primary-dark: #2c4c3b;
  --primary-hover: #3a6249;
  --secondary: #f8e16c;
  --secondary-dark: #f5d742;
  --secondary-ligth: #edda78;
  --background: #c4c6cf;
  --white: #fff;
  --black: #000000;
  --warning: #f56a6a;
  --disabled: #eddfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: var(--background);
}

a {
  cursor: pointer;
}

ul li {
  padding: 0;
}

button {
  cursor: pointer;
  background: var(--secondary);
  color: var(--primary-dark);
  border: none;
  padding: 8px 24px;
  border-radius: 24px;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s;
  box-shadow: 0 1px 4px rgba(44, 76, 59, 0.08);
}

  button:hover {
    background: var(--secondary-dark);
    color: var(--primary-hover);
  }

  button:disabled,
  input:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
  }

h1 {
  color: var(--primary-dark);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(44, 76, 59, 0.06);
}

thead tr {
  background: var(--primary-dark);
  color: var(--secondary);
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: var(--secondary-ligth);
}

tbody tr:nth-child(odd) {
  background: var(--white);
}

th {
  font-weight: 500;
  font-size: 1.1rem;
}

em {
  font-style: normal;
  font-weight: 500;
}

p {
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 7px;
  background: var(--secondary);
  color: var(--primary-dark);
}

  .icon-btn:hover {
    background: var(--secondary-dark);
    color: var(--primary-hover);
  }

  .icon-btn svg {
    vertical-align: middle;

  }

.page-container {
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: var(--warning);
  font-weight: bold;
}

.warning-color {
  color: var(--warning);
}

.warning-color-background {
  background-color: var(--warning);
  color: var(--black);
}

