@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #5e7e66;
  --primary-dark: #2c4c3b;
  --primary-hover: #3a6249;
  --secondary: #f8e16c;
  --secondary-dark: #f5d742;
  --secondary-ligth: #edda78;
  --white: #fff;
  --warning: #f56a6a;
}

/*:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}*/


