<div class="page-container">
  <h1>AI Integration</h1>
  <p>This component tests AI integration.</p>

  <div class="input-area">
    <textarea [(ngModel)]="textoUsuario"
              placeholder="¿Te puedo ayudar en algo? Puedes preguntarme y/o adjuntar ficheros pdf"
              class="full-width-textarea"
              [disabled]="disabledForm">
    </textarea>
    <button type="button"
            (click)="showDragAndDrop = !showDragAndDrop"
            class="icon-btn-absolute"
            title="Adjuntar archivos"
            [disabled]="disabledForm">
      <!-- SVG de clip -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M17.656 6.343a6 6 0 0 1 0 8.485l-6.364 6.364a4 4 0 1 1-5.657-5.657l8.485-8.485a2 2 0 1 1 2.828 2.828l-8.485 8.485"
              stroke="#333"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round" />
      </svg>
    </button>
  </div>

  <div class="button-row">
    <button (click)="predict()" [disabled]="disabledForm">Enviar</button>
  </div>

  @if (showDragAndDrop) {
  <div class="ai-drag-and-drop">
    <app-drag-and-drop-files (emitFiles)="selectedFiles($event)"
                             [isDisabled]="disabledForm">
    </app-drag-and-drop-files>
  </div>
  }

  @if (showErrorMessage) {
  <div class="error">
    {{ errorMessage }}
  </div>
  }
</div>
